/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  margin-top: 100px;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
  padding: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

h1 {
  text-align: center;
}

input {
  border: none;
  width: 100%;
}

.list-group-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
  cursor: pointer;
  z-index: 2;
  box-shadow: inset 0 -3em 3em rgba(12, 110, 253, 0.4),
  0 0 0 2px rgb(255, 255, 255), 0.2em 0.3em 1em rgba(1, 138, 202, 0.4);
}

.list-group-item:hover .btn-delete {
  opacity: 1;
}

.btn-delete {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
